// VARIABLES
$a-color: #000;
    $a-color-hover: #B8860B;

$h1-span-color: #FFD700;

$third-div-a-color: #FFF;
    $third-div-a-border-bottom-color: #CCC;
    $third-div-li-a-hover: #999;
$third-div-a-hover-color: #666;
    $third-div-a-hover-bg-color: #EEE;
